/* ==========================
	Write your solution here!
   ========================== */

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 40px;
}

img {
  height: 400px;
  width: 400px;
}

p {
  font-size: 18px;
  line-height: 30px;
}

.main {
  width: 900px;
  margin: 50px auto;
}

.meta {
  font-size: 13px;
}

.title,
.meta,
img,
p {
  margin: 0;
  margin-bottom: 40px;
}

.author,
.date {
  color: #ef5839;
  font-weight: 900;
}
